/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav > a {
  font-size: 1.75rem;
  font-family: sans-serif;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 8px;
  font-size: 1.25rem;
}

section {
  position: relative;
  min-height: 100vh;
}
